.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;

    &  > div{
    display: flex;
    gap:2rem;

    h2{
        margin:unset;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 60rem;

    tfoot {
      display: flex;
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tbody {
      display: block;
      max-height: 80dvh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;  
      scrollbar-width: none;  
    }
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 2px;
      padding: 5px 10px;
      cursor: pointer;

      &.active {
        background-color: lightblue;
        color: #1e1e1e;
        border: none;
      }

      &[disabled] {
        cursor: not-allowed;
      }

      i {
        font-size: 0.9rem;
      }
    }
  }
}
