<div class="container">
  <table>
    <thead>
      <tr>
        <th>ID de la empresa</th>
        <th>ID del producto</th>
        <th>Fecha entrega inicio</th>
        <th>Precio</th>
        <th>Moneda</th>
        <th>Uso frecuente</th>
      </tr>
    </thead>
    <tbody>
      @for(posicion of posiciones ; track posicion ){
      <tr>
        <td>{{ posicion.idEmpresa }}</td>
        <td>{{ posicion.idPrdoucto }}</td>
        <td>{{ posicion.fechaEntregaInicio | date : "short" }}</td>
        <td>{{ posicion.precio }}</td>
        <td>{{ posicion.moneda }}</td>
        <td>{{ posicion.Productos.usoFrecuente ? "si" : "no" }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
