<div class="container">
  <table>
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Producto</th>
        <th>Fecha entrega inicio</th>
        <th>Precio</th>
        <th>Moneda</th>
        <th>Uso frecuente</th>
      </tr>
    </thead>
    <tbody>
      @for(posicion of posiciones ; track posicion ){
      <tr>
        <td>{{ posicion.Empresa.razonSocial }}</td>
        <td>{{ posicion.Producto.nombre }}</td>
        <td>{{ posicion.fechaEntregaInicio | date : "short" }}</td>
        <td>{{ posicion.precio }}</td>
        <td>{{ posicion.moneda }}</td>
        <td>{{ posicion.Producto.usoFrecuente ? "si" : "no" }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
