
dialog{
    min-width: 200px
}

header{
    display: flex;
    justify-content: space-between;

    .close{
        font-weight: bold;
        cursor: pointer;
        margin-right: .5rem;
    }
}

.input{
    min-height: 70px;
}

.sendButton{
    margin-top: 20px;
}
