<div class="container">
  <h4>Crear usuario</h4>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="input">
      <input
        type="text"
        name="nombre"
        placeholder="Nombre Completo"
        formControlName="nombre"
      />
      @if(contactForm.get('nombre')!.invalid &&
      contactForm.get('nombre')!.touched){

      <small>El nombre es requerido</small>
      }
    </div>
    <div class="input">
      <input
        type="text"
        name="email"
        placeholder="Email"
        formControlName="email"
      />
      @if(contactForm.get('email')!.invalid && contactForm.get('email')!.touched
      && contactForm.get('email')!.errors?.['required']){
      <small>El email es requerido</small>
      } @if(contactForm.get('email')!.invalid &&
      contactForm.get('email')!.touched &&
      contactForm.get('email')!.errors?.['email']){
      <small>El email no es válido</small>
      }
    </div>

    <input
      class="sendButton"
      type="submit"
      value="Send"
      [disabled]="contactForm.invalid"
    />
  </form>
</div>
