dialog {
  min-width: 200px;
}

header {
  display: flex;
  justify-content: space-between;

  .close {
    font-weight: bold;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}

menu{
    display: flex;
    justify-content: center;
    padding-inline-start: 0;

}

.input {
  min-height: 70px;
}

