.content {
    display: flex;
    flex-direction: row;
    height: calc(100dvh - 0.1rem);
    width: calc(100dvw - 1rem);

    .left-side {
        display: flex;
        flex-direction: column;
        border-right: 1px solid lightblue;
        width: auto;
        min-width: 3rem;

        &.expanded {
            flex-basis: 10%;
        }

        .navItemsContainer {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .link {
                margin-left: -10px;
                padding: 0.5rem 1rem;
                color: inherit;
                text-overflow: ellipsis;
                text-wrap: nowrap;

                &:hover {
                    background-color: rgba(173, 216, 230, 0.4);
                    text-decoration: none;
                }
            }

            .activeLink {
                background-color: lightblue;
                color: #1e1e1e;
                font-weight: bold;
            }
        }

        .actions {
            padding-bottom: 2rem;
            margin-left: -10px;
            margin-top: 2rem;

            .actionContainer {
                width: 100%;
                display: flex;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                    background-color: rgba(173, 216, 230, 0.4);
                }

                .expandSidebar {
                    &.rotated {
                        transform: rotate(180deg);
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .right-side {
        padding: 1rem;
        min-width: 0;

        &.expanded {
            flex-basis: 90%;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
        /* Otros estilos específicos para tabletas y teléfonos grandes */
    }

    .content {
        flex-direction: column;

        .left-side {
            flex-direction: column;
            border-right: none;

            &.expanded {
                flex-basis: 10%;
            }

            .navItemsContainer {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                padding: 1rem;
                justify-content: center;

                .link {
                    margin-left: 0;
                    padding: 0.5rem 1rem;
                    color: inherit;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    border-radius: 0.4rem;

                    &:hover {
                        background-color: rgba(173, 216, 230, 0.4);
                        text-decoration: none;
                    }
                }

                .activeLink {
                    background-color: lightblue;
                    color: #1e1e1e;
                    font-weight: bold;
                }
            }

            .actions {
                margin-top: unset;
                padding-bottom: 2rem;
                margin-left: 0;
                order: 2;

                .actionContainer {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    height: 3rem;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(173, 216, 230, 0.4);
                    }

                    .expandSidebar {
                        font-size: 2rem;
                        transform: rotate(90deg);

                        &.rotated {
                            transform: rotate(270deg);
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}