.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  max-height: calc(100dvh - 4rem);

  div:first-of-type {
    display: flex;
    gap: 2rem;

    h2 {
      margin: unset;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 60rem;

    th,
    td {
      height: 2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tbody {
      display: block;
      max-height: 80dvh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
