<div class="container">
  <div>
    <h2>Usuarios</h2>
    <app-user-forms (usuario)="updateTableFromPost($event)"></app-user-forms>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Habilitado</th>
      </tr>
    </thead>
    <tbody>
      @if (users.length > 0) {
        @for (user of users; track user.id) {
          <tr>
            <td>{{ user.nombre }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.habilitado ? 'Si' : 'No' }}</td>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="3">Cargando</td>
        </tr>
      }
    </tbody>
  </table>
</div>
