<div class="container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Habilitado</th>
        <th>
          <app-user-forms
            (usuario)="updateTableFromPost($event)"
          ></app-user-forms>
        </th>
      </tr>
    </thead>
    <tbody>
      @for(user of users ; track user ){
      <tr>
        <td>{{ user.nombre }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.habilitado ? "si" : "no" }}</td>
        <td></td>
      </tr>
      }
    </tbody>
  </table>
</div>
